.profile-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px #027df8;
    background-image: url("");
    background-size: cover;
    background-position: center;
}

.profile-card {
    width: 350px;
    padding: 30px;
    border: 10px #2807fa;
    background-image: url("");
    backdrop-filter: blur(20px);
    border-radius: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #f1eeee;
}

.profile-card h1 {
    color: rgb(18, 17, 17);
    margin-bottom: 20px;
}

.avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid rgb(86, 6, 247);
    margin-bottom: 20px;
}

.details {
    text-align: left;
    color: rgb(247, 242, 242);
    font-size: 18px;
    line-height: 2;
}

.profile-card button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    background: #027df8;
    color: rgb(18, 17, 17);
    font-size: 16px;
    cursor: pointer;
}