* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-image: url("https://tse4.mm.bing.net/th/id/OIP.t9p1j-wbvE4hNig4L2BOEgHaEK?pid=Api&P=0&h=180");
    background-size: cover;
}

#header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: rgb(82, 114, 243);
    box-shadow:
        0 2px 15px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    color: rgb(250, 248, 248);
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: rgb(247, 244, 244);
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 8px;
    transition: 0.3s;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.15);
    transform: translateY(-2px);
}

nav a:active {
    background: #00d084;
}

.content {
    padding: 30px;
}

@media(max-width:768px) {
    #header {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    nav {
        margin-top: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
}